body {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 10pt;
  color: black;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  display: grid;
  grid-template-columns: 1em 1fr;
  column-gap: 0.4em;
}

li::before {
  content: "▸";
}
