.sidebar {
  width: 210px;
  height: 1040px;
  float: left;
  box-sizing: border-box;
  margin-right: 20px;
  padding-right: 20px;
  border-right: solid 1px blue;
}

.cv-header {
  margin-bottom: 10px;
}

.cv-header .title {
  font-size: 36pt;
  font-weight: 900;
  margin-bottom: 5px;
}

.cv-header .tagline {
  font-size: 12pt;
  font-weight: 700px;
}

.section > .title {
  font-size: 14pt;
  font-weight: 700;
  margin-bottom: 10px;
}

.job {
  margin-bottom: 25px;
}

.job .header {
  margin-bottom: 10px;
}

.job .header > .dates {
  margin-left: auto;
  margin-bottom: 3px;
  color: blue;
  font-weight: 700;
}

.job .header > .title {
  font-weight: 700;
}
